<h1><%= "Edition de profil" %></h1>
<a class="link"><%=link_to "Home", root_path%></a>


<select class="form-select" aria-label="Disabled select example" disabled>
  <option selected>What is your level?</option>
  <option value="1">Kid</option>
  <option value="2">Bad Boy</option>
  <option value="3">Uncle</option>
  <option value="4">Mamba</option>
  <option value="5">Street Legend</option>
</select>

<select class="form-select" aria-label="Disabled select example" disabled>
  <option selected>Which player are you?</option>
  <option value="1">Lonely Player</option>
  <option value="2">Teamate</option>
  <option value="3">Coach</option>
</select>

<select class="form-select" aria-label="Disabled select example" disabled>
  <option selected>What is your job player</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="4">Four</option>
  <option value="5">Five</option>
</select>
