<h1>Playgrounds WorldTour</h1>
<a class="link"><%=link_to "Home", root_path%></a>
<a class="link"><%=link_to "Add a playground", new_playground_path%></a>


<% @playgrounds.each do |playground| %>
 <%= playground.name %>
 <% end %>
