<h1>Playgrounds WorldTour</h1>
<a class="link"><%=link_to "Home", root_path%></a>
<a class="link"><%=link_to "Add a playground", new_playground_path%></a>

<div class="playgrounds">
  <% @playgrounds.each do |playground| %>
  <div class="card-playgrounds">
  <%= link_to playground.name, playground_path(playground) %>
    <% end %>
  </div>
</div>
