<a class="link"><%=link_to "Add a playground", new_playground_path%></a>

<div id="map"
     style="width: 90%; height: 600px; margin-left: auto; margin-right:auto;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


    <div class= "playgrounds">
      <% @playgrounds.each do |playground| %>
      <%= render "playground_card", playground: playground %>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <% end %>
    </div>

