<a class="link"><%=link_to "Add a playground", new_playground_path%></a>

<div id="map"
     style="width: 50%; height: 400px; margin-left: auto; margin-right:auto;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class ="container-1">
  <% @playgrounds.each do |playground| %>
  <%= render "playground_card", playground: playground %>
  <% end %>
</div>


<div class ="map">
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYW50aG94bG1hIiwiYSI6ImNra3V0bXI4dzB4bzkycGxtbGRxNnRhcWIifQ.WiWwAIdI758hA0MR_liNfA';
  var map = new mapboxgl.Map({
  container: 'map', // container id
  style: 'mapbox://styles/mapbox/streets-v11', // style URL
  center: [-74.5, 40], // starting position [lng, lat]
  zoom: 9 // starting zoom
  });
  </script>
</div>
