// Place all the styles related to the playgrounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container-1{
  margin-top:10px;
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:20px;
  padding:20px;
}

.card-playground {
  height:200px;
  // display:grid;
  border:solid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;
    h2 {
      font-size:10px;
      color:black;
    }
    h2:hover {
      text-decoration: none;
      font-size:10px;
      color:red;
    }
  .card-playground-infos {
    width:100px;
    height:400px;
  }
}

