<p>Devenez une légende du BasketBall Solo<p>
<p>En découvrant notre plateforme, vous pourrez rêver de devenir une légende du basket en affrontant un nombre incalculables d'adversaires et en rencontrant les meilleurs joueurs qui vous conviennent.<p>
<p>La communauté Ground Trotters est faite pour vous permettre de devenir un Nomade du BasketBall partout dans le monde.
Découvrez les playgrounds dans tous les pays, voyagez avec votre Team, boostez votre réputation, Devenez un Ground Trotters de légende, de la rue jusqu'en NBA!<p>

<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<select class="form-select" aria-label="Disabled select example" disabled>
  <option selected>What are you looking for?</option>
  <option value="1">Games</option>
  <option value="2">Tournaments</option>
  <option value="3">Dunk Contests</option>
  <option value="4">Trainings</option>
  <option value="5">Shoots Challenges</option>
</select>
